* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /* #01204E; */
    --background-color: white;
    --dark-blue: #2D6FBB;
    --light-blue: #3f5ebf;
    --light-white: #f2f2f2;
}

html,body{
    overflow-x: hidden;
}


body {
    background-color: var(--background-color);
}

#Hero {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Header */
.wrapper {
    width: 1400px;
    height: 100%;
    /* border: 2px dashed green; */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 130px;
   
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.top-nav {
    width: 100%;
    height: 25%;
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-nav-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-nav-right {
    width: 100%;
    height: 100%;
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.top-nav-right a {
    height: 100%;
    color: white;
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 17px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-nav-right a:hover {
    color: lightgray;
}

nav {
    width: 100%;
    height: 75%;
    background-color: var(--light-white);
    

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-container {
    width: 100%;
    color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-left {
    width: 30%;
    margin-right: auto;
}

.nav-right {
    width: 70%;
    font-size: 18px;
    height: 100%;
    font-family: "Sofia Sans Condensed", sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-right a {
    letter-spacing: 0.5px;
    color: black;
}

.nav-right a:hover {
    color: darkgray;
}

#navRightMobile{
    width: 250px;
    font-family: "Sofia Sans Condensed", sans-serif;
}

#navRightDropdownButton{
    height: 50px;
    width: 60px;
    position: relative;
    left: 150px;
    border: none;
}

#navRightDropdownButton img{
    height: 100%;
    width: 100%;
}

#navRightDropdown{
    position: absolute;
    width: 100%;
    top: 130px;
    background-color: white;
    border-top: 2px solid green;
    overflow-y: visible;
    
    display: none;
    flex-direction: column;
}

#navRightDropdown a{
    transition: 0.5s;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: black;
}

#navRightDropdown a:hover{
    background-color: lightgray;
    padding-left: 20px;
}

.navRightDropdownContent{
    display: flex;
    flex-direction: column;
}

.navRightDropdownContent a{
    padding-left: 30px !important;
}

.navRightDropdownContent a:hover{
    background-color: lightgray;
    padding-left: 40px !important;
}

.dropdown {
    height: 100%;
    display: grid;
    place-items: center;
}

.dropdown-content {
    width: 180px;
    background-color: var(--light-white);

    border-top: 2px solid green;
    position: absolute;
    top: 95px;
    left: 0px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dropdown:hover .dropdown-content {
   display: flex;
}

.dropdown-content a {
    padding-left: 5px;
    width: 100%;
    background-color: var(--light-white);
    transition: 0.5s;
}

.dropdown-content a:hover {
    color: black;
    background-color: lightgray;
    padding-left: 20px;
}

.appointment-button {
    background-color: #90a955;
    border: 2px solid #90a955;
    width: 200px;
    height: 40px;
    border-radius: 24px;
    font-size: 20px;
    color: white !important;

    display: grid;
    place-content: center;
}

.appointment-button:hover {
    color: black !important;
    background-color: var(--light-white);
}

.nav-container img {
    width: 200px;
    height: 50px;
}

/* About */
#About{
    height: 150px;
    width: 100%;
    background-color: var(--dark-blue);
    font-family: "Sofia Sans Condensed", sans-serif;
    margin-top: 130px;

    display: grid;
    place-items: center;
}

.about-container{
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;
}

.about-container h1{
    font-size: 70px;
    color: white;
}

/* About Content */
#About-Content{
    height: 800px;
    width: 100%;

    display: grid;
    place-items: center;
}

#About-Content .container{
    height: 100%;
    width: 100%;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

#About-Content .left{
    height: 100%;
    width: 50%;
    letter-spacing: 0.5px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#About-Content .left h1{
    font-weight: 400;
    font-size: 50px;
}

#About-Content .left p{
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
}

#About-Content .right{
    height: 100%;
    width: 45%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#About-Content .right .about.top{
    width: 100%;
}

#About-Content .right .about.top img{
    width: 100%;
}

#About-Content .right .about.middle{
    width: 100%;
    height: 25%;
    font-size: 20px;
    letter-spacing: 0.5px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

#About-Content .right .about.bottom{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "image name"
        "image link"
}

.bottom-item:nth-child(1){
    grid-area: image;
}

.bottom-item:nth-child(2){
    grid-area: name;
}

.bottom-item:nth-child(3){
    grid-area: link;
}

#About-Content .right .about.bottom img{
    width: 100px;
}

/* Footer */
footer {
    height: 500px;
    width: 100%;
}

.footer-container {
    height: 100%;
    width: 100%;
    background-color: var(--dark-blue);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container .wrapper {
    color: white;
    font-family: "Sofia Sans Condensed", sans-serif;

    display: flex;
    flex-direction: column;
}

.footer-items {
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    height: 100%;
    width: 33%;

    display: flex;
    flex-direction: column;
}

.footer-item-top {
    height: 20%;
    width: 100%;

    display: grid;
    align-content: center;
}

.footer-item-middle {
    height: 80%;
    width: 100%;
    padding-right: 30%;
}

.footer-item p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.copyright-message {
    height: 10%;
    width: 90%;
    border-top: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-item ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 17px;
}

.footer-item:nth-child(3) .footer-item-middle ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item-middle a {
    color: white;
}

.footer-item:nth-child(1) a:hover {
    color: orange;
}

.footer-item:nth-child(2) a:hover {
    padding-left: 5px;
}

.footer-item:nth-child(3) a:hover {
    color: lightgray;
}

/* Desktop Screens */
@media (max-width: 1700px) {
    .wrapper {
        width: 1400px;
    }

    #About-Content .container{
        max-width: 100%;
     }
}

@media (max-width: 1600px) {
    .wrapper {
        width: 1300px;
    }
}

@media (max-width: 1500px) {
    .wrapper {
        width: 1200px;
    }
}

/* Laptop */

@media (max-width: 1400px) {
    .wrapper {
        width: 1100px;
    }

    .nav-left {
        width: 25%;
    }

    .nav-right {
        width: 75%;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        width: 1000px;
    }

    .nav-right {
        font-size: 16px;
        color: black;
    }

    .appointment-button {
        font-size: 18px;
    }
}

/* Tablets */

@media(min-width: 1200px){
    
}

@media (max-width: 1200px) {
    .wrapper {
        width: 1000px;
    }
}

@media (max-width: 1100px){
    .wrapper{
        width: 900px;
    }

    .appointment-button{
        font-size: 16px;
        width: 160px;
    }
}

@media (max-width: 1000px){
    #About-Content{
        height: 900px;
    }

    #About-Content .left p{
        font-size: 16px;
    }

    #About-Content .right{
        justify-content: normal;
        gap: 40px;
    }
}

/* Phones */
@media (max-width: 933px){
    .wrapper{
        width: 850px;
    }
}

@media (max-width: 900px){
    .wrapper{
        width: 800px;
    }

    footer {
        height: 900px;
        width: 100%;
    }

    .footer-items{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-item:nth-child(1){
        gap: 30px;
    }

    .footer-item{
        width: 100%;
    }

    .footer-item:nth-child(3) .footer-item-middle{
        margin-bottom: 20px;
    }

    .copyright-message{
        height: 5%;
    }
}

@media (max-width: 800px){
    .wrapper{
        width: 750px;
    }
}

@media (max-width: 750px){
    .wrapper{
        width: 650px;
    }

    footer{
        height: 950px;
    }
}

@media (max-width: 650px){
    .wrapper{
        width: 600px;
    }

    footer{
        height: 1000px;
    }

    #About-Content{
        height: 1300px;
    }

    #About-Content .container{
        flex-direction: column;
    }

    #About-Content .left{
        width: 95%;
    }

    #About-Content .right{
        width: 95%;
    }
}

@media (max-width: 600px){
    .wrapper{
        width: 550px;
    }
}

@media (max-width: 550px){
    .wrapper{
        width: 450px;
    }

    #About-Content{
        height: 1500px;
    }

    footer{
        height: 1000px;
    }
}

@media (max-width: 450px){
    .wrapper{
        width: 350px;
    }

    .top-nav-right a{
        font-size: 16px;
    }

    .copyright-message{
        font-size: 12px;
    }

    footer{
        height: 1100px;
    }
}

@media (max-width: 350px){
    footer{
        height: 1150px;
    }
}